#calendar{
    margin-left: 100px;
    margin-right: 100PX;
}

#options {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 10000;
}

#oculto {
    background-color: #333333;
    position: fixed;
    padding: 70px;
    padding-bottom: 100%;
    top: 0%;
    left: 0%;
    margin-left: 0%;
    z-index: 9999;
}

#oculto h2 {
    border-top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

#oculto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90px;
}
